#sidebar {
  position: fixed;
  width: 250px;
  height: 90%;
  background:#e09145;
  border-bottom: 60px solid #FCD9B8;
  border-bottom-right-radius: 100%;
  left:-250px;
  -o-transition:all 300ms;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

#sidebar.active {
  position: absolute;
  left:0px;
  height: 100%;
}

#sidebar ul li:first-child {
  text-align: center;
  color: white;
  font-size: 2em;
  list-style: none;
  padding: 25px 30px 20px 0px;
}

#sidebar ul li:not(:first-child) {
  width: 100%;
  margin-left: -0%;
  font-size: 1.3em;
  list-style: none;
  padding: 15px 20px;
}

#sidebar ul li a {
  color:white;
  text-decoration: none;
}

#sidebar ul li a:hover {
  transition: 0.5s;
  color: #59e9df;
}

#sidebar .toggle-btn {
  position: absolute;
  left: 270px;
  top: 20px;
  background:#E0E5EA;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  z-index: 1;
}

#sidebar .toggle-btn:hover {background: #556270}
#sidebar .toggle-btn:hover span {background: #fefefe}

.span1 {
  transform: rotate(145deg);
}
.span2 {
  transform: rotate(35deg);
}

#deadline {
 position:relative;
 top:-32px;
    height: 25px;
    width: 150px;
    margin-left:auto;
    margin-right:auto;
}
.content{
  position: absolute;
  left: 40%;
  text-align: center;
}

.toggle-btn1 {
  position: absolute;
  left: 20px;
  top: 20px;
  background:#E0E5EA;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  z-index: 1;
}

.toggle-btn1:hover {background: #556270}
.toggle-btn1:hover span {background: #fefefe}

.toggle-btn1 span {
  display: block;
  width: 25px;
  height: 4px;
  background-color: #666;
  margin: 4px;
}



#sidebar .toggle-btn span {
  display: block;
  width: 25px;
  height: 4px;
  background-color: #666;
  margin: 4px;
}

.link {
  position: relative;
  color: white;
  font-size:1.3em;
  top:10px;
  text-align:center;
}

#a {
    color: white;
}

#a:hover {
  transition: 0.5s;
  color: #59e9df;
}



.container1 {
  width: 180px;
  height: 60px;
  position: absolute;
  left: 45%;
  top: 5%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}


.container {
  width: 180px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);

}

.center1 {
  width: 180px;
  height: 60px;
  position: absolute;
}

#input2 {
  height: 25px;
  width: 300px;
  border: 4px dotted #59e9df;
  border-radius:10px;
}

#input2:focus {
  transition: 0.5s;
  border:4px double red;
  border-radius:10px;
  outline:none;
}

#name-task {
  position:relative;
  top:-32px;
  height:25px;
  width:100px;
}

#task {
  position: relative;
  left:50%;
  height: 25px;
  width: 200px;
  margin-left:auto;
  margin-right:auto;
}

.form {
  position:relative;
  top: 10%;
  margin-left:auto;
  margin-right:auto;
}

.floating-button {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: 0.3s;
}
.floating-button:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transition:0.3s;
  transform: translateY(-7px);
}
