html, body {
  padding: 0;
  margin: 0;
  height:120%;
  font-family:sans-serif;
}

@media screen and (max-width: 1920px) and (max-height: 1080) {

}
@media screen and (max-width: 998px) {

}
@media screen and (max-width: 768px) and (max-height: 540px){
a {
  font-size:20px;
}
}
@media screen and (max-width: 576px) {

}

::-webkit-scrollbar {
  width:10px;
}

::-webkit-scrollbar-track {
  background: #fcd9b8;
}

::-webkit-scrollbar-thumb {
  background: #59e9df;
}


.RegAuth {
  position: absolute;
  height: 8%;
  width: 20%;
  right: 0px;
  background-color: #e09145 ;
  box-shadow: -3px 5px 0px #FCD9B8;
  border-bottom-left-radius: 20px;
}

.wrapper {
  min-height:100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.sect {
  position:absolute;
  top:150px;
  height:110%;
  width: 100%;
  color: white;
  background-color: #17181D;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
}


.footer {
  position: relative;
  padding: 60px;
  bottom: 0px;
  border-top: outset 30px #FCD9B8;
  background-color: #e09145;
  z-index: 1;
}
